body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,form,fieldset,input,textarea,blockquote
	{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #f5f0e0 url(resourses/noise.png);
}

#container {
	height: 800px;
	background: url(resourses/bg.jpg) center top no-repeat;
}

ul#nav {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

ul#nav li {
	float: left;
	list-style: none;
}

ul#nav li a {
	display: block;
	width: 97px;
	height: 77px;
	padding: 72px 0 0 0;
	margin: 0 32px 0 32px;
	font: bold 16px Helvetica, Arial, Sans-Serif;
	text-transform: uppercase;
	color: #9c5959;
	text-shadow: 0 1px 3px #c4bda6;
	text-decoration: none;
	background: url(resourses/label.png) 0 -149px no-repeat;
}

ul#nav li a:hover {
	background: url(resourses/label.png) 0 0 no-repeat;
	color: #eee9d9;
	text-shadow: 0 2px 3px #4c2222;
}

ul#nav li a.js:hover {
	background: url(resourses/label.png) 0 -149px no-repeat;
}

#content {
	color: #FF0000;
	text-align: center;
}

#validate-div-text{
	text-align: left;
}